<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cwand.lib.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/VandBaseAppTheme.Dark">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Test3"
            android:theme="@style/VandBaseAppTheme.Translucent" />
        <activity
            android:name=".Test4"
            android:theme="@style/VandBaseAppTheme" />
        <activity
            android:name=".SwitchLanguageActivity"
            android:label="切换语言"
            android:theme="@style/VandBaseAppTheme.Dark" />
        <activity
            android:name=".WidgetsActivity"
            android:label="控件展示" />
        <activity android:name=".WebActivity" />

        <service android:name="com.cwand.lib.ktx.services.GlobalWindowService" />
    </application>

</manifest>